.firebase/
.DS_Store
functions/node_modules/
node_modules/
firebase-debug.log

public/dist/app.bundle.js
public/dist/app.bundle.js.map
public/dist/ejercicio.bundle.js
public/dist/ejercicio.bundle.js.map