#firebase
.firebase/
firebase-debug.log
#mac
.DS_Store
#node_modules
functions/node_modules/
node_modules/
#maquina js
public/dist/maquina.bundle.js
public/dist/maquina.bundle.js.map
#maquina css
public/dist/maquina.css
public/dist/maquina.css.map
#ejericio js
public/dist/ejercicio.bundle.js
public/dist/ejercicio.bundle.js.map
#ejercicio css
public/dist/ejercicio.css
public/dist/ejercicio.css.map
#fonts
public/dist/LarkeNeueThin.ttf
public/dist/OpenSans-Regular-webfont.woff
public/dist/VarelaRound-Regular-webfont.woff