/*fonts*/
$opensans-reg: "opensansreg";
$varelaround-reg: "varelaroundreg";
$larkeneue-thin: "larkeneuethin";

$fontsize-desktop: 20px;
$fontsize-tablet: 18px;
$fontsize-mobile: 16px;

$fontcolor: #000000;
